<script type="text/javascript">
var chart;
jQuery(document).ready(function() {
	Highcharts.stockChart('stock_chart', {
	 rangeSelector: {
            selected: 1
        },

      tooltip: {
              pointFormat: '{{currency}} : {point.y}'
       },
        title: {
            text: '{{title}}'
        },
        series: [{
            name: '{{name}}',
            data: {{data}},
            tooltip: {
                valueDecimals: 2
            }
        }
        {% if moving_average_data %}
        ,{
            name: 'moving_average_data',
            data: {{moving_average_data}},
            tooltip: {
                valueDecimals: 2
            }
        }
        {% endif %}
        {% if low_pass_data %}
        ,{
            name: 'low_pass_data',
            data: {{low_pass_data}},
            tooltip: {
                valueDecimals: 2
            }
        }
        {% endif %}
        ]
    });

});

</script>

<div id="stock_chart" style="width: 700px;height: 500px"></div>