<script type="text/javascript">
var chart;
jQuery(document).ready(function() {
	Highcharts.stockChart('stock_chart', {
	 rangeSelector: {
            selected: 1
        },

      tooltip: {
              pointFormat: '{{currency}} : {point.y}'
       },
        title: {
            text: '{{title}}'
        },
        series: [
        {% if data_list %}
        {
            name: 'data_list',
            data: {{data_list}},
            tooltip: {
                valueDecimals: 2
            }
        }
        {% endif %}
        {% if result_list %}
        ,{
            name: 'result_list',
            data: {{result_list}},
            tooltip: {
                valueDecimals: 2
            }
        }
        {% endif %}

        ]
    });

});

</script>

<div id="stock_chart" style="width: 700px;height: 500px"></div>